:root {
  --scrawl-border-color: #9ca3af;
  --scrawl-menu-text-color: #172b4d;
}

.scrawl-tooltip-content {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 0.25rem;
}

kbd {
  background-color: #505f79;
  border-radius: 0.125rem;
  padding: 0 0.25rem 0 0.25rem;
}

.scrawl {
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--scrawl-border-color);
  border-top: 0;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.scrawl:focus {
  outline: none;
}

.scrawl-menu {
  border: 1px solid var(--scrawl-border-color);
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.scrawl-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  color: inherit;
}

.menu-button {
  background: none;
  color: var(--scrawl-menu-text-color);
  border: none;
  padding: 0.25rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 1.75rem;
  height: 1.75rem;
  transition-property: background-color, color, border;
  transition-duration: 200ms;
  display: flex;
  align-items: center;
  border-radius: 0.125rem;
}
.menu-button:hover {
  background-color: #e5e7eb;
}

.menu-button:focus {
  background-color: #172b4d;
  color: white;
}
